= form_for @event, url: url, method: method do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: @event.errors[:title].empty? ? 'form-control' : 'form-control is-invalid'
    .invalid-feedback
      %ul
        - @event.errors[:title].each do |error|
          %li= error
  .form-group
    = f.label :description
    = f.text_area :description, class: @event.errors[:description].empty? ? 'form-control' : 'form-control is-invalid'
    .invalid-feedback
      %ul
        - @event.errors[:description].each do |error|
          %li= error
  .form-group
    = f.label :total_places
    = f.number_field :total_places, class: @event.errors[:total_places].empty? ? 'form-control' : 'form-control is-invalid'
    .invalid-feedback
      %ul
        - @event.errors[:total_places].each do |error|
          %li= error
  .form-group
    .clearfix
      = f.submit value: "Update", class: 'btn btn-primary float-right ml-3' do
        = submit_button
      = f.submit value: "publish", class: 'btn btn-warning float-right' do
        Publish
