.row
  .col-sm-12
    %h1.mb-4
      Admin events
    %table.table.table-hover.mb-2
      %thead.thead-dark
        %tr
          %th
            Title
          %th
            Description
          %th
            Places
          %th
            Published
          %th
            Action
      %tbody
        - @events.each do |event|
          %tr
            %td
              = event.title
            %td
              = event.description
            %td
              = "#{event.free_places}/#{event.total_places}"
            %td
              = event.published? ? 'yes' : 'no'
            %td
              - if event.published?
                = link_to 'Tickets', admin_event_path(event.id)
              - else
                = link_to 'Edit', edit_admin_event_path(event.id)
    .clearfix
      = link_to 'New', new_admin_event_path, class: 'btn btn-primary float-right'
